@import "tailwindcss";

:root {
  --primary: #34495E;
  --secondary: hsl(145, 63%, 42%);
  --background: hsl(192, 15%, 93.5%);
}

@layer base {
  html { 
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: #34495E;
   }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  padding: 2rem 0;
}

.bloco-arquivo {
  background-color: var(--primary);
  color: var(--background);
  padding: 10px 20px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10px;
}

.input-arquivo {
  display: none;
}

#imagem-arquivo {
  display: none;
}

#imagem-arquivo.visivel {
  display: inline-block;
}

.ver-mais {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  width: 2rem;
  height: 1.9rem;
  border: 0.1rem solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mostrar-tudo-btn {
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  right: 3.4rem;
  margin-top: 0.5rem;
  background-color: var(--secondary);
  color: hsl(from var(--background) h s calc(l + 8));
  padding: 0.3rem;
  border-radius: 0.8rem;
  /* box-shadow: 3px 3px 15px 4px hsl(from var(--secondary) h s l / 0.4); */
  transition: all ease .25s
}

.mostrar-tudo-btn:hover {
  background-color: hsl(from var(--secondary) h s calc(l - 1));
  box-shadow: 3px 3px 8px 4px hsl(from var(--secondary) h s calc(l + 15) / 0.4);
  transform: scale(1.01);
}